.Modal {
    position: fixed;
    z-index: 500;
    background-color: dimgrey;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 3%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow-y: auto;
    padding: 80px 100px;
    justify-content: center;
    display: flex;
}

@media (min-width: 600px) {
    .Modal {
        width: 1000px;
        height: 860px;
    }
}