.img-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.img-wrap{
    width: 340px;
    height: 185px;
    padding: 10px;
    position: relative;
}

.img-wrap img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.owner-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 35px;
    padding-left: 20px
}

.owner-image img{
    width: 40px;
    height: 40px;
}

.user-name{
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.user-name span{
    color: #3dd2cc;
    padding-left: 5px;
}
